<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="ISO-8859-1">
	<title>Quote Machine</title>
	</head>
	<body>
		<form action="#" th:action="@{/}" method="post" th:object=${Quotes}>
			<label>Author</label>
			<input type="text" id="author" th:field="*{author}" />
			<label>Quote</label>
			<input type="text" id="quote" th:field="*{quote}" />
			<button type="submit">Valider</button>
		</form>
		<!-- th:if="${quoteList.lengh() < 1 }" -->
		<span th:text="${Quotes.author}"></span> once said <span th:text="${Quotes.quote}"></span>
	</body>
</html>